body {
  font-family: helvetica, arial, sans-serif;
  background-color: rgb(221, 217, 217);
}

header {
  background-color: rgb(221, 217, 217);
  color: #61745b;
  text-align: center;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Mise en forme du fieldset*/

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
  border: 1px solid rgb(94, 92, 92);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}

#btnAfficherOptions {
  margin-top: 5px;
  border: none;
  background-color: #efefef;
  cursor: pointer;
}

#btnAfficherOptions:hover {
  text-decoration: underline;
}

#btnSearch {
  cursor: pointer;
}

#error {
  color: red;
  display: none;
  overflow: hidden;
}

#choixOptions {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "opt1 opt2 opt3"
    "opt4 opt5 opt6";
  white-space: nowrap;
  margin-top: 5px;
  display: none;
  overflow: hidden;
}

h3 {
  display: none;
  overflow: hidden;
}

#resultat {
  /* display: grid; */
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "infosProduit infosProduit infosProduit"
    "imgNova imgNutriscore imgEcoScore"
    "listesDeroulantes listesDeroulantes listesDeroulantes";
  width: 100%;
  align-items: center;
}

#infosProduit {
  grid-area: infosProduit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #61745b;
  border: 1px solid rgb(94, 92, 92);
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#nomCode {
  display: flex;
  flex-direction: column;
}

#imgNutriscore {
  max-width: 100%;
  grid-area: imgNutriscore;
  align-self: center;
  justify-self: center;
}
#imgNova {
  max-width: 100%;
  grid-area: imgNova;
  align-self: center;
  justify-self: center;
}
#imgEcoScore {
  max-width: 100%;
  grid-area: imgEcoScore;
  justify-self: center;
}

#listesDeroulantes {
  margin-top: 15px;
  grid-area: listesDeroulantes;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.collapsible {
  background-color: #61745b;
  border: 1px solid rgb(94, 92, 92);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.content {
  display: none;
  overflow: hidden;
}

#listeNutriments {
  background-color: aqua;
  width: auto;
}

#listeNutriments > li {
  color: red;
}

/* mise en forme du pied de page */
ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

li {
  font-size: smaller;
  list-style: none;
  padding: 5px 5px 5px 5px;
}

li:hover {
  cursor: pointer;
  text-decoration: underline;
}
