body {
  font-family: helvetica, arial, sans-serif;
  font-size: medium;
  background-color: rgb(221, 217, 217);
}

header {
  background-color: rgb(221, 217, 217);
  color: #61745b;
  text-align: center;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Mise en forme du fieldset*/

fieldset {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
  border: 1px solid rgb(94, 92, 92);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}

#codeBarre {
  box-shadow: inset 0.3px 0.3px 0.3px rgba(0, 0, 0, 0.2);
}

#btnAfficherOptions {
  margin-top: 5px;
  border: none;
  background-color: #efefef;
  cursor: pointer;
}

#btnAfficherOptions:hover {
  text-decoration: underline;
}

#btnSearch {
  cursor: pointer;
}

#error {
  color: red;
  display: none;
  overflow: hidden;
}

#choixOptions {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "opt1 opt2"
    "opt3 opt4"
    "opt5 opt6";
  white-space: nowrap;
  margin-top: 5px;
  display: none;
  overflow: hidden;
}

h3 {
  display: none;
  overflow: hidden;
}

#resultat {
  display: none;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-items: center;
}

#infosProduit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #61745b;
  border: 1px solid rgb(94, 92, 92);
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  width: 80%;
}

.label {
  font-weight: bold;
}

#nomCode {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

#containerPlusCollapsible {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}
.slider img {
  max-width: 100%;
  display: none;
}
img.active {
  display: block;
  animation: fade 0.8s;
  width: 100%;
  min-height: 150px;
  padding: 5px;
  border-radius: 3px;
  height: auto;
  background: #dad8d8;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cont-btn {
  width: 100%;
  height: auto;
  border: 1px solid #000;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
}
.btn-nav {
  font-size: 50px;
  margin: 0 15px;
  cursor: pointer;
}

#imgNutriscore {
  max-width: 100%;
  align-self: center;
  justify-self: center;
}
#imgNova {
  max-width: 100%;
  align-self: center;
  justify-self: center;
}
#imgEcoScore {
  max-width: 100%;
  justify-self: center;
}

#listesDeroulantes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.collapsible {
  font-size: medium;
  background-color: #61745b;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.active,
.collapsible:hover {
  background-color: #42503e;
}

.collapsible:after {
  content: "\002B";
  color: rgb(221, 217, 217);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  display: none;
  overflow: hidden;
}

#listeNutriments {
  width: auto;
}
#high {
  border: 1px solid red;
  background-color: red;
}
#moderate {
  border: 1px solid yellow;
  background-color: yellow;
}
#low {
  border: 1px solid green;
  background-color: green;
}
#undefined {
  border: 1px solid white;
  background-color: white;
}

#verdict {
  flex-direction: column;
}

#btnVerdict {
  display: none;
  overflow: hidden;
}

#photoVerdict {
  width: 20%;
  display: none;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* mise en forme du pied de page */
ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

li {
  font-size: smaller;
  list-style: none;
  padding: 5px 5px 5px 5px;
}

li:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {
  #containerPlusCollapsible {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .container {
    margin: 15px;
  }
}
